body {
    min-height: 1000px;
}

.navbar-static-top {
    background-color: #9B9A9B;
    border-color: #9B9A9B;
    margin-bottom: 0px !important;
}

.navbar-default .navbar-brand {
    color: #9BF53B;
    font-style: oblique;
    font-weight: bolder;
    font-size: x-large;
}

.navbar-default .navbar-brand:hover {
    color: #FFF ;
    font-style: oblique;
    font-weight: bolder;
    font-size: x-large;
}

.navbar-default .navbar-nav > li > a {
    color: #9BF53B;

}
.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;

}

.navbar-default .navbar-toggle {
    border-color: transparent !important;
}

.navbar-toggle {
    border-color: #9BF53B !important;
}

.navbar-toggle:hover {
    background-color: #9BF53B !important;
}

