{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="{% static 'img/testico.ico' %}" type="image/x-icon"/>
    <link href="http://fonts.googleapis.com/css?family=Kotta+One|Cantarell:400,700" rel="stylesheet" type="text/css">
    <!-- Not required: presentational-only.css only contains CSS for prettifying the demo -->
    <link rel="stylesheet" href="{% static 'css/presentational-only.css' %}">
    <!-- responsive-full-background-image.css stylesheet contains the code you want -->
    <link rel="stylesheet" href="{% static 'css/responsive-full-background-image.css' %}">
    <!-- Custom styles for this template -->
</head>

{% include 'head_css.html' %}

<div class="container-fluid">
    {% if bodytext %}
        <div class="leftcol col-lg-7 col-md-7 col-sm-8">
        <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
{#            <br>#}
{#            <br>#}
{##}
{#            <h1 style="font-family:Impact; font-size: 40px">{{ title }}</h1>#}
{#            <br>#}
{#            <br>#}
{#            <p style="font-size: 20px">Do you want to change your Performance Management?</p>#}
{#            <br><br>#}
{#            <p style="font-size: 20px">Do you want to improve your Recruitment based on data analytics?</p>#}
{#            <br><br>#}
{#            <p style="font-size: 20px">Do you want to start with People Analytics without hardcore data science#}
{#                background?</p>#}
        </div>
        <div class="rightcol col-lg-4 col-md-4 col-sm-4">
            <h2> Thanks for visiting <font color = "0740a8"><strong>fishrail</strong></font> </h2>
            <br>
            It's all about People Analytics for you!
            <br>
            <br>
            Please leave your contact details below,
            and we’re more than happy to tell all about it and provide you a
            <font color = "0740a8"><strong> 1 year free premium access</strong></font> when we launch.
            <br>
            <br>
            <form method="POST" action="">{% csrf_token %}
                {{ form|crispy }}
                <br>
                <input class="button" type="submit" value="Send"/>
                <br>
                <br>
        </div>
        <div class="leftcol col-lg-1 col-md-1 col-sm-0">
        </div>


    {% else %}
        <br>
        <br>

        <h1 style="font-family:Impact; font-size: 40px">{{ title }}</h1>
        <br>
        <br>
        <h2> Lets keep in touch!</h2>
    {% endif %}
</div>
</html>