{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %} fishrail
{% endblock %}

<style>
    {% block style %}
        .jumbotron {
            background-color: #A0CA7C;
            color: #525252;
        }
    {% endblock  %}
</style>

{% block jumbotron %}
    {% if not request.user.is_authenticated %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Welcome</h1>
                    <p>Welcome to Fishrail, this is an example of a landing page</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Join us!
                            (Free)&raquo;</a>
                    </p>
                </div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/QKz8PPFYhe0" frameborder="0"
                        allowfullscreen></iframe>

            </div>
        </div>
    </div>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        {% if queryset %}
            <h1>Welcome Staff!</h1>
            <table class="table">
            {% for instance in queryset %}
                <tr><td>{{ forloop.counter }}</td><td>{{ instance  }}</td> <td>{{ instance.full_name }} </td> <td>{{ instance.timestamp|timesince }} </td</tr>
                {% if instance.email == "thismail@juqqst.edu" %}
                <tr><td>is equal</td></tr>
                {% endif %}
            {% endfor %}
            </table>
        {% else %}
            <h1>You are logged in!</h1>
        {% endif %}

    {% else %}
        <div class="row">
            <div class="col-sm-3 pull-right">
                <p class="lead text-align-center">Sign Up Now</p>

                <form method="POST" action="">{% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn  btn-primary" type="submit" value="Sign Up"/>
</form>
            </div>
            <div class="col-sm-3">
                <p class="lead text-align-center">Platform</p>
                <img src="{% static 'img/Platform logo.png' %}" class="img-responsive"/>
            </div>
            <div class="col-sm-3">
                <p class="lead text-align-center">User based ratings
                    <br/>
                    <br/>
                <span class="rating">
          <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span
                        class="star"></span>
        </span>
                    <br/>
                    <br/>
                    <i class="fa fa-bar-chart fa-5x"></i>
                </p>
            </div>
            <div class="col-sm-3">
                <p class="lead text-align-center">Advanced analytics
                    <br/>
                <span class="fa-stack fa-lg fa-5x">
{#                    <i class="fa fa-cog fa-stack-2x fa-spin"></i>#}
                    <i class="fa fa-cog fa-stack-2x"></i>
                    </span>
                </p>
            </div>
        </div>

    {% endif %}
{% endblock %}