{% extends "base.html" %}
{% load crispy_forms_tags  %}


{% block head_title %} Welcome | {{ block.super }}
{% endblock %}

<style>
{% block style %}

{% endblock  %}
</style>

{% block jumbotron %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <h1>Welcome</h1>
                <p>Welcome to Fisrail, t his is an example of a landing page</p>
                <p>
                    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Join us!
                        (Free)&raquo;</a>
                </p>
            </div>
            <div class="col-sm-6" style="background-color: black; height: 300px" >

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-sm-3 pull-right">
            <p class="lead text-align-center">{{ title }}</p>

            <form method="POST" action="">{% csrf_token %}
                {{ form|crispy }}
                <input class="btn  btn-primary" type="submit" value="Sign Up"/>

                {#<input = 'text'>#}
                {#<input>#}
        </div>
        <div class="col-sm-3">
        <p class="lead text-align-center">Built with Django &amp; Bootstrap</p>
        </div>
        <div class="col-sm-3">
        <p class="lead text-align-center">Created for starters</p>
        </div>
        <div class="col-sm-3">
        <p class="lead text-align-center">Always open source </p>
        </div>
    </div>
    </form>
{% endblock %}